[uwsgi]
socket = /run/uwsgi/uwsgi.sock
chmod-socket = 775
chdir = {{ appdata_dir }}
master = true
module = {{ uwsgi_module }}
processes = {{ uwsgi_processes }}
threads = {{ uwsgi_threads }}
plugins = {{ uwsgi_plugins }}
logto = /var/log/uwsgi/%n.log
{% for env in uwsgi_env %}
env = {{ env }}
{% endfor %}
