---
- name: Remove base directory (if present)
  file:
    path: '{{ base_dir }}'
    state: absent

- name: Clone Git repository
  git:
    repo: '{{ git_repo }}'
    dest: '{{ base_dir }}'
    version: '{{ git_branch }}'

- name: Install requirements.txt
  command: "/bin/pip install -r '{{ appdata_dir }}/requirements.txt'"

- name: Create user for application
  user:
    name: {{ uid }}
    shell: /bin/bash
    groups: {{ gid }}
    append: yes

- name: Set permissions for base directory
  file:
    path: '{{ base_dir }}'
    owner: '{{ uid }}'
    group: '{{ gid }}'
    state: directory
    recurse: yes

- name: create nginx log directory
  file:
    path: /var/log/nginx/{{ app_name }}
    state: directory
